
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-lg-4 col-md-6" style="background-color: lightblue;padding: 25px 25px 25px 25px;border-radius: 15px;">

<h1>New Usuario</h1>

<%= render 'form', usuario: @usuario %>

<%= link_to 'Back', usuarios_path %>

    </div>
    <div class="col col-lg-2">
    </div>
  </div>
</div>
